<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
  <div class=" dropdown-header noti-title">
    <h6 class="text-overflow m-0">Logout ???</h6>
  </div>

  <a href="<%- __publicurl -%>/auth/logout" class="dropdown-item logout">
    <i class="ni ni-user-run text-red"></i>
    <span class="logout text-red">Log Out</span>
  </a>
</div>
