.panel{
	border:0px;
	border-radius:0.75rem;
}

.sensor,.summary{
	color:#ffffff;
}

.summary{
	border:1px solid #ffffff;
	border-radius:5px;
	padding:5px 10px;
	margin-top:1rem;
}

.summary .title{
	font-size : 0.75rem !important;
}

.summary .value{
	font-size:1.0rem !important;
	font-weight:700 !important;
	margin-right:2px !important;
	margin-left:3px !important;
}

.summary .unit{
	font-size:0.75rem !important;
	font-weight:500 !important;
	margin-top:0.175rem !important;
	margin-left:0.05rem !important;
}

.summary .flex-row{
	margin-top:0.5rem !important;
}

.summary .rowTitle{
	min-width:2.25rem;
	font-size:1.0rem;
	font-weight:500;
}

.sensor .title{
	font-size : 1.5rem;
	font-weight:700;
}

.sensor .time{
}

.sensor .value{
	font-size:3.5rem;
	font-weight:700;
	display:flex;
}

.sensor .unit{
	font-size:1.0rem;
	font-weight:500;
	margin-top:1.0rem;
	margin-left:0.25rem;
	display: flex;
}

.alarm-light{
	height:4rem;
	width:100%;
	position: relative;
}

.alarm-light .light{
	border-radius:50%;
	height:2rem;
	width:2rem;
	border:4px solid rgba(255,255,255,0.95);
	background-color: rgba(0,0,0,1.0);
	background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5));
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
