<body>
	<!-- Sidenav -->
	<% include ../../partials/sidebar %>
	<!-- Main content -->
	<div class="main-content">
		<!-- Top navbar -->
		<% include ../../partials/navbar %>
		<!-- Header -->
		<% include header %>

		<!-- Page content -->
		<div class="container-fluid mt--7">
			<div class="row mt-3">
				<div class="masonry-sizer col-12"></div>

				<div class="masonry-item col-12">
					<div class="card shadow">
						<div class="card-header border-0">
							<div class="row align-items-center">
								<div class="col">
									<h3 class="mb-0">Stock</h3>
								</div>
							</div>
						</div>

						<div class="card-body table-responsive">
						</div>
					</div>
				</div>
			</div>

			<!-- Footer -->
			<% include ../../partials/footer %>
		</div>
	</div>

	<!-- Include scripts -->
	<% include ../../partials/scripts %>

</body>
