<!-- Header -->
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 250px; background-image:url('<%- __siteurl %>/img/theme/factory-1-min.jpg'); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-dark opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 mb-5">
        <h1 class="display-2 text-white"><%- page && page.title %></h1>
        <p class="text-white mt-0"><%= page && page.subtitle %></p>

        <div class="border border-light w-100 mb-3"></div>

        <h3 class="display-6 text-white"></h3>
        <h3 class="display-6 text-white"></h3>
      </div>
    </div>
  </div>
</div>
